@import 'compass/css3';
@import 'vendor/normalize.css';
@import 'vendor/foundation.css';

svg {
  width: 100%;
  height: 200px;
}

.group {
  cursor: pointer;

  &:hover {
    .hotspot {
      fill: Gainsboro;
    }
    .bar {
      fill: DarkCyan;
    }
  }
}

.hotspot {
  fill: WhiteSmoke;
}

.bar {
  fill: Turquoise;
}

.axis .domain {
  display: none;
}
