body {
  font-family: sans-serif;
}

a {
  color: CornflowerBlue;
}

svg {
  width: 100%;
  height: 300px;
}

.hotspot {
  fill: WhiteSmoke;
}

.bar {
  fill: Turquoise;
}

.axis .domain {
  display: none;
}
