@import 'compass/css3';
@import 'vendor/foundation/components/dropdown';
$row-width: none;
@import 'vendor/foundation/components/grid';
@import 'vendor/foundation/components/type';

svg {
  width: 100%;
  height: 200px;
}

#stack {
  height: 500px;
}

.group,
label,
label input {
  cursor: pointer;
}

.group {
  &:hover,
  &[aria-expanded="true"] {
    .hotspot {
      fill: Gainsboro;
    }
    .bar {
      fill: DarkCyan;
    }
  }

  &.pending .bar {
    fill: Aquamarine;

    &:hover,
    &[aria-expanded="true"] {
      fill: MediumSeaGreen;
    }
  }
}

.hotspot {
  fill: WhiteSmoke;
}

.bar {
  fill: Turquoise;
}

.axis {
  fill: $subheader-font-color;

  .domain {
    display: none;
  }
}

#tooltip {
  @include dropdown-container($content:content, $triangle:bottom, $max-width:250px);

  h4 {
    color: DarkCyan;
  }
}
