@import 'compass/css3';
@import 'vendor/foundation/components/dropdown';
@import 'vendor/foundation/components/grid';

svg {
  width: 100%;
  height: 200px;
}

.group {
  cursor: pointer;

  &:hover,
  &[aria-expanded="true"] {
    .hotspot {
      fill: Gainsboro;
    }
    .bar {
      fill: DarkCyan;
    }
  }
}

.hotspot {
  fill: WhiteSmoke;
}

.bar {
  fill: Turquoise;
}

.axis .domain {
  display: none;
}

#tooltip {
  @include dropdown-container($content:content, $triangle:bottom);

  &:focus {
    outline-style: none;
  }
  h4 {
    color: DarkCyan;
  }
}
