@import url(vendor/normalize.css);
@import url(vendor/foundation.css);
svg {
  width: 100%;
  height: 200px;
}

.group {
  cursor: pointer;
}
.group:hover .hotspot {
  fill: Gainsboro;
}
.group:hover .bar {
  fill: DarkCyan;
}

.hotspot {
  fill: WhiteSmoke;
}

.bar {
  fill: Turquoise;
}

.axis .domain {
  display: none;
}

#tooltip:focus {
  outline-style: none;
}
#tooltip h4 {
  color: DarkCyan;
}
